<!-- <div id="particles-js"></div> -->

<div id="app-container">
  <!-- <img id="header-img" src="assets/img/header.PNG"> -->
  <div id="app-wraper">

    <div id="app-selector-container">
      <div *ngFor="let selector of selectors; let i=index;" class="selector" 
      [ngClass]="{'first':i==0, 'last':i==selectors.length-1, 'active':selected==i}" 
      (click)="router.navigate([selector.link]); selected=i;">
        <img [src]="selector.img">
        {{selector.desc}}
      </div>
    </div>
    
    <div id="app-content-container">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
